@charset "utf-8";

body{
	background-color:#f6f5f5;
	margin:0px;
	padding:0px;
	font-family:arial;
	color:#505050;
	font-size:20px;
}

ul{
	list-style:none;
}

a{
	text-decoration:none;
}

nav{
	position:fixed;
	top:0;
	display:flex;
	z-index:2;
	justify-content:space-around;
	align-items:center;
	height:60px;
	width:100vw;
	background-color:#ffffff;
	box-shadow:2px 2px 12px rgba(0, 0, 0, 0.2);
}

nav ul{
	display:flex;
}

nav ul li a{
	margin:30px;
	color:#505050;
	font-size:15px;
	font-weight:700;
}

.logo{
	display:flex;
	color:#505050;
	font-size:25px;
	font-weight:700;
}

.logo span{
	vertical-align:middle;
}

.footer{
	position:fixed;
	display:flex;
	justify-content:space-around;
	align-items:center;
	bottom:0;
	width:100vw;
	height:20px;
	background-color:#505050;
	color:#f6f5f5;
	font-size:15px;
}

.body-container{
	display:flex;
	position:absolute;
	top:60px;
	bottom:20px;
	height:auto;
	justify-content:space-around;
}

.index-text{
	position:inline-flex;
	width:70vw;
	overflow:auto;
}

.body-container h1{
	font-size:55px;
}

.index-right{
	position:inline-flex;
	width:28vw;
	object-fit:cover;
	overflow:hidden;
}

.contact ul{
	display:flex;
}

.contact ul a{
	margin:10px;
}
